.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-height: 100px;
    background-color: white;
    z-index: 1;
}

.product__rating {
    display: flex;
    color: rgb(255, 255, 0);
        margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
}

.product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product > button {
 background: #f49403;
    border: 1px solid;
    border-radius: 5px;
    border-color: #b9730a #a36406 #89590f ;
    margin-top: 10px;
    padding : 5px;
    color: #131A22;
}

.product_button:hover {
      background: #f49403;
    color: #fff;
    border-color: #f49403;
    border-radius: 8px;
    box-shadow: 0 0 5px #f48c03,
                0 0 25px #f48c03,
                0 0 50px #f48c03,
                0 0 100px #f48c03;
}   

.product_root:hover {
    box-shadow: 0 15px 25px #00000085;
}

.product__price {
    margin-top: 5px;
}

.product__info {
    height: 100px;
    margin-bottom: 15px;
}